
.container{
    border: 2px solid black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 600px;
    margin: auto;
    color: rgb(255, 255, 255);
}

.content{
    background-color: rgb(194, 238, 238);
    display: flex;
}
.sidebar{
flex-direction: column;
}


.header{
    background-color: aqua;
   padding: 40px;
}

.footer{
    background-color: rgb(65, 19, 231);
    padding: 20px 0;
}

.sidebar aside {
    padding: 50px 0;
    background-color: yellow;

}

.sidebar nav {
    background-color: brown;
     padding: 100px;

}

main{
    padding: 150px;
    background-color: coral;
    
  
}

