.satu{
    width: 200px;
  background-color: blue;
    height: 200px;
}

.dua{
    width: 200px;
background-color: brown ;
height: 200px;
position: absolute;
top:0;
right: 0;

}

.tiga{
    width: 200px;
background-color: blueviolet;
height: 200px;

}

.container{
    width: 600px;
    height: 700px;
    border: slateblue solid 2px;
    margin: auto;
    background-color: black;
position: relative;
}